.list {
	@apply bg-indigo-100 w-full h-full m-auto;
}
.lead {
	@apply text-gray-700 text-2xl font-bold m-4;
}
.item {
	box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.5);
	margin: 20px;
	padding: 10px;
	border-left: 8px solid;
	@apply border-indigo-700 text-gray-700 rounded-md hover:bg-indigo-600 hover:text-white;
	transition: all 0.5s ease-in;
}
.name {
	@apply mb-3;
}
